@media (min-width: 1025px) {
    .burger {
        display: none;
    }

    .menu-item-has-children {
        &.open-menu {
            .sub-menu {
                display: flex;
            }
        }

    }

    .sub-menu {
        display: none;
    }

    .form-exchange {
        border: 1px solid $strokes;
        
        &__value {
            input {
                + label {
                    display: none;
                }
            }
        }
    }

    .exchange {
   
    
        .form-exchange {
            flex-direction: row;
            max-width: 100%;
            align-items: center;
            margin-top: 167px;
            border: none;
            padding: 0;
    
            &-give {
                margin-bottom: 0;
                margin-right: 30px;
                width: 33.3333%;
                max-width: 460px;
            }
    
            &-get {
                margin-right: 30px;
                width: 33.3333%;
                max-width: 460px;
            }
    
            .btn[type=submit] {
                margin-top: auto;
                width: 33.3333%;
                max-width: 460px;
            }
            
            .exchange-info {
                display: none;
            }

            .form-exchange__value {
                input{
                   background:#141513;
               }
            }
        }
    }

    .services-page {
        background: url(assets/img/decoration-light.png) 50vw 280vh no-repeat,url(assets/img/decoration-light.png) -35vw 10vh no-repeat;
    }
    .page-faq {
        background: url(assets/img/decoration-light.png) -18vw 280vh no-repeat, url(assets/img/decoration-light.png) 49vw 7vh no-repeat;
    }
 
    .single {
        background: url(assets/img/decoration-light.png) 50vw 180vh no-repeat,url(assets/img/decoration-light.png) -35vw 10vh no-repeat $background; 
    }
    .exchange-aplication {
        background: url(assets/img/decoration-light.png) 30vw -25vh no-repeat;
    }
    .exchange {
        .content-box:before {
            display: inline;
        }
    }
}
