.page-404 {
    .banner-title {
        order: 0;
    }
    .banner {
        margin-bottom: $section-margin;
    }
    .banner-col-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}