
.advertisement {
    text-align: center;
    background-color: $accent;
    color: $background;
    padding: 4px 12px;
    border-radius: 0 0 20px 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 21;
    a{
        font-weight: 600;
        color: $background;
        margin-left: 41px;
    }
}

.first-screen {
    padding: 41px 0 0;
    // margin-bottom: $template-mb;
    position: relative;
    margin-top: -188px;
    margin-bottom: -300px;
    
.slick-dots {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include container;
    margin: -278px auto 550px;
    z-index: 1001;
    position: relative;

    li {
        margin: 0 10px;
        font-size: 0;

        &:before {
            display: none;
        }

        &.slick-active {
            button {
                width: 160px;
                background-color: $accent;
            }
        }

        button {
            transition: .4s;
            font-size: 0;
            padding: 0;
            border: none;
            width: 8px;
            min-width: 8px;
            height: 8px;
            border-radius: 55px;
            background-color: #fff;
            cursor: pointer;

            &:hover {
                background-color: $accent;
            }
        }
    }
}
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}



.first-screen-slider__slide {
    padding-top: 148px;
    padding-bottom: 300px;
    position: relative;
   
}
