@font-face {
    font-family: 'Geometria';
    /*for dev   src: url('./assets/fonts/Geometria.ttf') format('OpenType');*/
    /*for prod */ src: url("../fonts/Geometria.ttf") format("OpenType");
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    /*for dev  src: url('./assets/fonts/Geometria-Medium.ttf') format('OpenType'); */
    /*for prod*/ src: url("../fonts/Geometria-Medium.ttf") format("OpenType");
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Geometria';
//     src: url('./assets/fonts/Geometria-ExtraBold.ttf') format('OpenType');
//     font-weight: normal; 
//     font-style: normal;
//     font-display: swap;
// }