footer {
    border-top: 1px solid #242424;
    margin-top: auto;
}

.footer-row {
    display: flex;
    padding: 100px 15px;
    @extend .container;
}

.footer-logo {
    padding: 0 24px 0 0;
    width: 100%;
    max-width: 368px;

    &__link {
        max-width: 277px;
        display: block;

        img {
            width: 100%;
        }
    }

    .socials {
        margin: 40px -12px 0;
        justify-content: flex-start;
    }
}

.footer-info {
    display: flex;
    justify-content: space-between;
    max-width: 757px;
    width: 100%;
    margin-left: auto;
}



.footer-menu {
    padding: 0 24px;

    h4 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;

        color: $strokes;
        margin: 0 0 40px;
    }

    .link-list {
        margin: 0;

        li {
            margin-bottom: 28px;

            &:before {
                display: none;
            }

            a {
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                color: $titles;
                display: flex;
                align-items: center;
                text-decoration: none;
                white-space: nowrap;

                &:hover {
                    color: $accent;
                }
            }
        }
    }

    .contacts-list {
        @extend .link-list;

        a {
            &:hover {

                img {
                    transform: scale(1.2)
                }

            }
        }

        .icon {
            margin: 0 20px 0 0;
        }
    }

}

.footer-copyright {
    @extend .container;
    display: flex;
    padding: 36px 15px;
    position: relative;
    &::before {
        content: "";
        border-top: 1px solid #242424;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
    }
    nav {
        margin-left: auto;
    }

    span,
    a {
        font-size: 16px;
        line-height: 20px;
        color: $strokes;
    }
    a {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}
