/*tab*/
.tabs {
    position: relative;

    .course-update {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 47px;
    }
}

.tabs-nav {
    margin-bottom: 60px;
}

.tab-button {
    background-color: $inputs;
    border: none;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    &.active,
    &:hover {
        background-color: $accent;
        color: $background;
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}

#particles-js {
    position: absolute;
    max-height: 405px;
    height: 405px;
    margin: 0 0 -405px 0;
    left: 0;
    top: 0;
    right: 0;
}

// canvas.particles-js-canvas-el {
//     position: absolute;
//     top: 0;
//     left: 0;    z-index: -1;
// }
