<section class="advantages">
    <div class="container">
        <div class="template-title">
            <h2>переваги роботи з <strong class="accent">KANTOR HOUSE</strong></h2>
            <h4>Лише декілька причин, чому слід обрати Onebit</h4>
        </div>
        <div class="advantages-grid">
            <div class="advantage">
                <div class="advantage-text">
                    <h3 class="advantage-title">індивідуальний підхід</h3>
                    <h5 class="advantage-subtitle">Ми працюємо, піклуючись про кожного нашого клієнта</h5>
                </div>
                <picture>
                    <source media="(min-width:767px)" srcset="assets/img/advantage-1.png">
                    <img src="assets/img/advantage-1-mob.png" class="img-fluid" alt="advantage">
                </picture>
            </div>
            <div class="advantage">
                <div class="advantage-text">
                    <h3 class="advantage-title">тех.підтримка клієнтів 24/7</h3>
                    <h5 class="advantage-subtitle">Напряму задавайте цікаві вам питання у будь-який час</h5>
                </div>
                <picture>
                    <source media="(min-width:767px)" srcset="assets/img/advantage-2.png">
                    <img src="assets/img/advantage-2-mob.png" class="img-fluid" alt="advantage">
                </picture>
            </div>
            <div class="advantage">
                <div class="advantage-text">
                    <h3 class="advantage-title">безпека операцій</h3>
                    <h5 class="advantage-subtitle">Особисті дані клієнтів та історії операцій суворо конфіденційні</h5>
                </div>
                <picture>
                    <source media="(min-width:767px)" srcset="assets/img/advantage-3.png">
                    <img src="assets/img/advantage-3-mob.png" class="img-fluid"  alt="advantage">
                </picture>
            </div>
            <div class="advantage">
                <div class="advantage-text">
                    <h3 class="advantage-title">фіксований курс</h3>
                    <h5 class="advantage-subtitle">Гарантована фіксація курсу після фінального підтвердження blockchain</h5>
                </div>
                <picture>
                    <source media="(min-width:767px)" srcset="assets/img/advantage-4.png">
                    <img src="assets/img/advantage-4-mob.png" class="img-fluid" alt="advantage">
                </picture>
            </div>
        </div>
    </div>
</section>