<div class="cryptocurrencies-grid">
    <div class="cryptocurrency">
        <div class="crypto-name">назва</div>
        <div class="crypto-buy">купити</div>
        <div class="crypto-sell">продати</div>
        <div class="crypto-spread">спред</div>
        <div class="crypto-trade"></div>
    </div>
    <div class="cryptocurrency">
        <div class="crypto-name">
            <img src="assets/img/icon-bitcoin.svg" alt="bitcoin">
            <strong>bitcoin</strong>
            <span>BTC</span>
        </div>
        <div class="crypto-buy">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-sell">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-spread">
            <span class="rate-risen">+10000,99%</span>
        </div>
        <div class="crypto-trade">
            <a href="exchange-aplication.html"  class="btn btn-light">торгувати</a>
        </div>
    </div>
    <div class="cryptocurrency">
        <div class="crypto-name">
            <img src="assets/img/icon-ethereum.svg" alt="ethereum">
            <strong>ethereum</strong>
            <span>BTC</span>
        </div>
        <div class="crypto-buy">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-sell">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-spread">

            <span class="rate-zero">0%</span>
        </div>
        <div class="crypto-trade">
            <a href="exchange-aplication.html"  class="btn btn-light">торгувати</a>
        </div>
    </div>
    <div class="cryptocurrency">
        <div class="crypto-name">
            <img src="assets/img/icon-litecoin.svg" alt="litecoin">
            <strong>litecoin</strong>
            <span>BTC</span>
        </div>
        <div class="crypto-buy">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-sell">
            <strong>736 150.008750</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-spread">
            <span class="rate-falls">-0,5%</span>
        </div>
        <div class="crypto-trade">
            <a href="exchange-aplication.html"  class="btn btn-light">торгувати</a>
        </div>
    </div>
    <div class="cryptocurrency">
        <div class="crypto-name">
            <img src="assets/img/icon-ethereum.svg" alt="ethereum">
            <strong>tether erc20</strong>
            <span>BTC</span>
        </div>
        <div class="crypto-buy">
            <strong>999 999 999.999999</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-sell">
            <strong>999 999 999.999999</strong>
            <span>UAH</span>
        </div>
        <div class="crypto-spread">

            <span class="rate-risen">+5%</span>
        </div>
        <div class="crypto-trade">
            <a href="exchange-aplication.html" class="btn btn-light">торгувати</a>
        </div>
    </div>
    
</div>