<form id="exchange-data-3" class="exchange-template">
    <div class="divide">
        <div class="divide-title">інформація відправника</div>
        <div class="custom-input">
            <input type="text" id="name" name="name">
            <label for="name">ім’я</label>
        </div>
        <div class="custom-input">
            <input type="text" id="surname" name="surname">
            <label for="surname">прізвище</label>
        </div>
        <div class="custom-input">
            <input type="tel" id="tel" name="tel" placeholder="+38(__) ___-__-__" value="+38">
            <label for="tel">телефон</label>
            <div class="hint error">
                <div class="hint-item">телефон вказано некоректно</div>
            </div>
        </div>
        <div class="custom-input">
            <input type="text" id="country" class="dropdown-input" name="name" readonly="">
            <label for="country">країна</label>
            <div class="dropdown-input-values">
                <div class="dropdown-input-values__item">Україна</div>
                <div class="dropdown-input-values__item">Польша</div>
            </div>
        </div>
        <div class="custom-input">
            <input type="text" id="city" name="city">
            <label for="city">місто відправника</label>
        </div>
        <div class="custom-input">
            <input type="text" id="telegram" name="telegram">
            <label for="telegram">нікнейм Telegram</label>
        </div>
    </div>
    <div class="divide">
        <div class="divide-title">інформація отримувача</div>
        <div class="custom-input">
            <input type="text" id="name2" name="name2">
            <label for="name2">ім’я</label>
        </div>
        <div class="custom-input">
            <input type="text" id="surname2" name="surname2">
            <label for="surname2">прізвище</label>
        </div>
        <div class="custom-input">
            <input type="tel" id="tel2" name="tel2" placeholder="+38(__) ___-__-__" value="+38">
            <label for="tel2">телефон</label>
            <div class="hint error">
                <div class="hint-item">телефон вказано некоректно</div>
            </div>
        </div>
        <div class="custom-input">
            <input type="text" id="country2" name="country2">
            <label for="country2">країна</label>
        </div>
        <div class="custom-input">
            <input type="text" id="city2" name="city2">
            <label for="city2">місто отримувача</label>
        </div>
        <div class="custom-input">
            <input type="text" id="telegram2" name="telegram2">
            <label for="telegram2">нікнейм Telegram</label>
        </div>
    </div>
</form>