<section class="fiat-pairs">
    <div class="container">
        <div class="template-title">
            <h2>топ крипто-фіатних пар</h2>
        </div>
        <nav class="fiat-pairs__list">
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-bitcoin.svg" alt="bitcoin">bitcoin</div>
                <div><img src="assets/img/icon-usd.svg" alt="bitcoin">USD</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-zcash.svg" alt="bitcoin">icon-zcash</div>
                <div><img src="assets/img/icon-uah.svg" alt="bitcoin">UAH</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-ripple.svg" alt="bitcoin">ripple</div>
                <div><img src="assets/img/icon-eur.svg" alt="bitcoin">EUR</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-dash.svg" alt="bitcoin">dash</div>
                <div><img src="assets/img/icon-usd.svg" alt="bitcoin">USD</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-ethereum.svg" alt="bitcoin">ethereum</div>
                <div><img src="assets/img/icon-uah.svg" alt="bitcoin">UAH</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-tron.svg" alt="bitcoin">tron</div>
                <div><img src="assets/img/icon-eur.svg" alt="bitcoin">eur</div>
            </a>








            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-bitcoin.svg" alt="bitcoin">bitcoin</div>
                <div><img src="assets/img/icon-usd.svg" alt="bitcoin">USD</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-zcash.svg" alt="bitcoin">icon-zcash</div>
                <div><img src="assets/img/icon-uah.svg" alt="bitcoin">UAH</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-ripple.svg" alt="bitcoin">ripple</div>
                <div><img src="assets/img/icon-eur.svg" alt="bitcoin">EUR</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-dash.svg" alt="bitcoin">dash</div>
                <div><img src="assets/img/icon-usd.svg" alt="bitcoin">USD</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-ethereum.svg" alt="bitcoin">ethereum</div>
                <div><img src="assets/img/icon-uah.svg" alt="bitcoin">UAH</div>
            </a>
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-tron.svg" alt="bitcoin">tron</div>
                <div><img src="assets/img/icon-eur.svg" alt="bitcoin">eur</div>
            </a>
            
           
            
           
            <a href="exchange-aplication.html" class="fiat-pairs__list-item">
                <div><img src="assets/img/icon-tron.svg" alt="bitcoin">tron</div>
                <div><img src="assets/img/icon-eur.svg" alt="bitcoin">eur</div>
            </a>
            
        </nav>
    </div>
</section>
