<section class="first-screen ">
    <div class="first-screen-slider">
        <div class="first-screen-slider__slide">
            <div class="banner decoration-light">
                <div class="banner-col-left">
                    <div class="banner-title">обмін криптовалют разом з KANTOR HOUSE</div>
                    <div class="banner-subtitle">Проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови обміну криптовалют</div>
                    <div class="banner-advantages">
                        <div class="banner-advantages__item">
                            фіксація курсу після фінального
                            підтвердження blockchain
                        </div>
                        <div class="banner-advantages__item">
                            цілодобова робота.
                            видача готівки з 9:00 до 19:00
                        </div>
                        <div class="banner-advantages__item">
                            гарантована безпека
                            всіх операцій
                        </div>
                        <div class="banner-advantages__item">
                            мінімальна комісія $15
                        </div>
                    </div>
                    <div class="banner-link">
                        <a href="services-6.html">топ крипто-фіатних пар ></a>
                    </div>
                </div>
                <div class="banner-col-right">
                    @@include('form-exchange.html')

                </div>
            </div>
        </div>
        <div class="first-screen-slider__slide">
            <div class="banner">
                <div class="banner-col-left">
                    <div class="banner-title">грошові перекази по Україні разом з KANTOR HOUSE</div>
                    <div class="banner-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови переказу коштів</div>
                    <div class="banner-advantages">
                        <div class="banner-advantages__item">
                            фіксація комісії після занесення до нашого відділення
                        </div>
                        <div class="banner-advantages__item">
                            гарантована безпека
                            всіх операцій
                        </div>
                    </div>
                    <div class="banner-link">
                        <a href="services-1.html" class="btn btn-primary">створити заявку</a>
                    </div>
                </div>
                <div class="banner-col-right">
                    <picture>
                        <source media="(min-width:767px)" srcset="assets/img/banner-1.png">
                        <img src="assets/img/banner-1-mob.png" class="img-fluid" alt="banner">
                    </picture>
                </div>
            </div>
        </div>
        <div class="first-screen-slider__slide">
            <div class="banner">
                <div class="banner-col-left">
                    <div class="banner-title">міжнародні перекази разом з KANTOR HOUSE</div>
                    <div class="banner-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови переказу коштів</div>
                    <div class="banner-advantages">
                        <div class="banner-advantages__item">
                            фіксація курсу після фінального
                            підтвердження blockchain
                        </div>
                        <div class="banner-advantages__item">
                            гарантована безпека
                            всіх операцій
                        </div>
                    </div>
                    <div class="banner-link">
                        <a href="services-2.html" class="btn btn-primary">створити заявку</a>
                    </div>
                </div>
                <div class="banner-col-right">
                    <picture>
                        <source media="(min-width:767px)" srcset="assets/img/banner-2.png">
                        <img src="assets/img/banner-2-mob.png" class="img-fluid" alt="banner">
                    </picture>
                </div>
            </div>
        </div>
        <div class="first-screen-slider__slide">
            <div class="banner">
                <div class="banner-col-left">
                    <div class="banner-title">SWIFT/SEPA $/€ платежі разом з KANTOR HOUSE</div>
                    <div class="banner-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови переказу коштів</div>
                    <div class="banner-advantages">
                        <div class="banner-advantages__item">
                            фіксація курсу після фінального підтвердження blockchain
                        </div>
                        <div class="banner-advantages__item">
                            цілодобова робота.
                            видача готівки з 9:00 до 19:00
                        </div>
                    </div>
                    <div class="banner-link">
                        <a href="services-3.html" class="btn btn-primary">створити заявку</a>
                    </div>
                </div>
                <div class="banner-col-right">
                    <picture>
                        <source media="(min-width:767px)" srcset="assets/img/banner-3.png">
                        <img src="assets/img/banner-3-mob.png" class="img-fluid" alt="banner">
                    </picture>
                </div>
            </div>
        </div>
        <div class="first-screen-slider__slide">
            <div class="banner">
                <div class="banner-col-left">
                    <div class="banner-title">оплата рахунків у Китай разом з KANTOR HOUSE</div>
                    <div class="banner-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови переказу коштів</div>
                    <div class="banner-advantages">
                        <div class="banner-advantages__item">
                            фіксація курсу після фінального підтвердження blockchain
                        </div>
                        <div class="banner-advantages__item">
                            цілодобова робота.
                            видача готівки з 9:00 до 19:00
                        </div>
                    </div>
                    <div class="banner-link">
                        <a href="services-5.html" class="btn btn-primary">створити заявку</a>
                    </div>
                </div>
                <div class="banner-col-right">
                    <picture>
                        <source media="(min-width:767px)" srcset="assets/img/banner-4.png">
                        <img src="assets/img/banner-4-mob.png" class="img-fluid" alt="banner">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
