<footer>
	<div class="footer-row">
		<div class="footer-logo">
			<a href="index.html" class="footer-logo__link">
				<picture>
					<source media="(min-width: 1024px)" srcset="assets/img/logo.svg">
					<img src="assets/img/logo-mobile.svg" alt="logo">
				</picture>
			</a>
			@@include('socials.html')
		</div>
		<div class="footer-info">	
			<nav class="footer-menu">
				<h4>клієнтам</h4>
				<ul class="link-list">
					<li><a href="about.html">про нас</a></li>
					<li><a href="where-can-u-find-us.html">де нас знайти</a></li>
					<li><a href="testimonials.html">відгуки</a></li>
					<li><a href="faq.html">часті питання</a></li>
					<li><a href="single.html">блог</a></li>
				</ul>
			</nav>
			<nav class="footer-menu">
				<h4>контакти</h4>
				<ul class="contacts-list">
					<li><a href="mailto:info@KANTOR-HOUSE.com"><i class="icon"><img src="assets/img/icon-mail.svg" alt="mail"></i>info@KANTOR-HOUSE.com</a></li>
					<li><a href="tel:+380983580001"><i class="icon"><img src="assets/img/icon-phone.svg" alt="phone"></i> +38 (098) 358-00-01</a></li>
					<li><a href="tel:+380509740001"><i class="icon"><img src="assets/img/icon-phone.svg" alt="phone"></i> +38 (050) 974-00-01</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="footer-copyright">
		<span>ⓒ KANTOR HOUSE, 2022. Всі права захищені</span>
		<nav>
			<a href="single.html">політика конфіденційності</a>
			<a href="single.html">умови та положення</a>
		</nav>
	</div>
</footer>

















	@@include('modal.html')
	<script src="assets/js/jquery-3.6.3.min.js"></script>
	<script src="assets/js/jquery.mask.min.js"></script>
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/modal.js"></script>
	<script src="assets/js/tabs.js"></script>

	<script src="assets/js/custom.js"></script>
	<script src="assets/js/particles.min.js"></script>
	<script src="assets/js/app.js"></script>

	</body>
</html>

