<!-- Антон, привет!) 
    <header class="unregistered-user">
    <header class="registered-user">
    <header class="verification-user">
    -->
 
<header class="registered-user">
    
    <a href="index.html" class="logo">
        <img src="assets/img/logo.svg" alt="logo">
    </a>
    <div class="mobile-container">
    
        <nav class="header-nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="about.html">про нас</a>
                    <ul class="sub-menu">
                        <li><a href="services-1.html">перекази по Україні</a></li>
                        <li><a href="services-2.html">міжнародні перекази</a></li>
                        <li><a href="services-3.html">SWIFT/SEPA $/€</a></li>
                        <li><a href="services-4.html">обмін криптовалют</a></li>
                        <li><a href="services-6.html">крипто-фіатні пари</a></li>
                        <li><a href="testimonials.html">Відгуки</a></li>
                        <li><a href="faq.html">Питання та відповіді</a></li>
                    </ul>
                </li>
                <li><a href="services-nonauthorized.html">як це працює</a></li>
                <li><a href="where-find.html">де нас знайти</a></li>
                <li class="menu-item-has-children">
                    <a href="faq.html">клієнтам</a>
                    <ul class="sub-menu">
                        <li><a href="profile-1.html">профіль</a></li>
                        <li><a href="profile-2.html">налаштування</a></li>
                        <li><a href="profile-3.html">історія операцій</a></li>
                        <li><a href="profile-4.html" class="verification-link">верифікація</a></li>
                        <li><a href="profile-5.html">бонуси</a></li>
                        <li><a href="profile-1.html">вийти з акаунту</a></li>
                        <li><a href="testimonials.html">відгуки</a></li>
                        <li><a href="faq.html">часті питання</a></li>
                         
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="lang-dropdown">
            <a href="#" class="lang-dropdown__top">ua</a>
            <a href="#" class="lang-dropdown__top">Польща</a>
        </div>
    </div>

    
    <button class="burger" data-togle-modal="modal-burger"></button>
</header>
