<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#B1FF5C">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>KANTOR HOUSE</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <a href="UI-kit.html" class="Anton_please_delete_this😄"
    style="position: fixed;
    bottom: 9px;
    left: 12px;
    z-index: 999999;"
    >UI-kit</a>
