<!-- Антон, привет!) 
    <header class="unregistered-user">
    <header class="registered-user">
    <header class="verification-user">
    -->
 
<header class="registered-user">
    
    <a href="index.html" class="logo">
        <img src="assets/img/logo.svg" alt="logo">
    </a>
    <div class="mobile-container">
        <div class="country">
            <div class="country-now">Україна</div>
            <ul class="sub-menu">
                <li><a href="index.html">Україна</a></li>
                <li><a href="#">Польша</a></li>
            </ul>
        </div>
        <nav class="header-nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="services-nonauthorized.html">послуги</a>
                    <ul class="sub-menu">
                        <li><a href="services-1.html">перекази по Україні</a></li>
                        <li><a href="services-2.html">міжнародні перекази</a></li>
                        <li><a href="services-3.html">SWIFT/SEPA $/€</a></li>
                        <li><a href="services-4.html">обмін криптовалют</a></li>
                        <li><a href="services-6.html">крипто-фіатні пари</a></li>
                        <li><a href="testimonials.html">Відгуки</a></li>
                        <li><a href="faq.html">Питання та відповіді</a></li>
                    </ul>
                </li>
                <li><a href="services-nonauthorized.html">як це працює</a></li>
                <li><a href="where-find.html">де нас знайти</a></li>
                <li class="menu-item-has-children">
                    <a href="faq.html">клієнтам</a>
                    <ul class="sub-menu">
                        <li><a href="profile-1.html">профіль</a></li>
                        <li><a href="profile-2.html">налаштування</a></li>
                        <li><a href="profile-3.html">історія операцій</a></li>
                        <li><a href="profile-4.html" class="verification-link">верифікація</a></li>
                        <li><a href="profile-5.html">бонуси</a></li>
                        <li><a href="profile-1.html">вийти з акаунту</a></li>
                        <li><a href="testimonials.html">відгуки</a></li>
                        <li><a href="faq.html">часті питання</a></li>
                         
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="lang-dropdown">
            <div class="lang-dropdown__top">ua</div>
            <div class="lang-dropdown__menu">
                <ul>
                    <li><a href="index.html">ua</a></li>
                    <li><a href="index.html">pl</a></li>
                    <li><a href="index.html">en</a></li>
                </ul>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-small btn-unregistered-user">реєстрація</a>
    <a href="#" class="btn btn-small btn-registered-user" data-togle-modal="modal-burger-profile">ЧЛ</a>
    <a href="#" class="btn btn-small btn-verification-user">ЕН</a>
    <button class="burger" data-togle-modal="modal-burger"></button>
</header>
