<div id='particles-js'></div>
<header class="registered-user">
    <a href="index.html" class="logo">
        <img src="assets/img/logo.svg" alt="logo">
    </a>
    <div class="mobile-container">
    
        <nav class="header-nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="about.html">про нас</a>
                    <ul class="sub-menu">
                        <li><a href="where-can-u-find-us.html">де нас знайти</a></li>
                        <li><a href="testimonials.html">відгуки</a></li>
                        <li><a href="faq.html">часті питання</a></li>
                        <li><a href="single.html">блог</a></li>
                    </ul>
                </li>
                <li><a href="where-can-u-find-us.html">де нас знайти</a></li>
                <li><a href="testimonials.html">відгуки</a></li>
                <li><a href="faq.html">часті питання</a></li>
                <li><a href="single.html">блог</a></li>
            </ul>
        </nav>
        <div class="lang-dropdown">
            <a href="#" class="lang-dropdown__top">ua</a>
            <a href="#" class="lang-dropdown__top">Польща</a>
        </div>
    </div>

    
    <button class="burger" data-togle-modal="modal-burger"></button>
</header>
