<section class="map">
    <div class="container">
        <div class="template-title">
            <h2>де знаходиться офіс <strong class="accent">KANTOR HOUSE</strong> ?</h2>
            <h4>Подивися на карті наше місце знаходження та заiтай до нас на каву:)</h4>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.1818513407143!2d21.0015122!3d52.240080500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecdc050c562f7%3A0xfa8e18734fd793ff!2sKantor%20House!5e0!3m2!1sru!2sua!4v1685711939530!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>