

<div id="modal-burger" class="modal modal-burger" data-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button class="btn btn-small modal-close"></button>

            <div class="lang-dropdown">
                <a href="#" class="lang-dropdown__top">ua</a>
                <a href="#" class="lang-dropdown__top">Польща</a>
            </div>
        </div>
        <nav class="header-nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="about.html">про нас</a>
                    <ul class="sub-menu">
                        <li><a href="where-can-u-find-us.html">де нас знайти</a></li>
                        <li><a href="testimonials.html">відгуки</a></li>
                        <li><a href="faq.html">часті питання</a></li>
                        <li><a href="single.html">блог</a></li>
                    </ul>
                </li>
                <li><a href="where-can-u-find-us.html">де нас знайти</a></li>
                <li><a href="testimonials.html">відгуки</a></li>
                <li><a href="faq.html">часті питання</a></li>
                <li><a href="single.html">блог</a></li>
            </ul>
        </nav>
    </div>
</div>
