<section class="review">
    <div class="container-fluid">
        <div class="slider-review">
            <div class="review-item">
                <div class="review-item__text">У мене був досвід використання обмінника KANTOR HOUSE лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</div>
                <div class="review-item__user">
                    <div class="review-item__user-name">Дмитро Науменко</div>
                    <div class="review-item__user-data">29 листопада 2022</div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__text">Тарас Григорович Шевченко — видатний поет, художник, гордість і натхнення українського народу. Про життя та діяльність цього славетного майстра написано багато книжок. Та в біографії Кобзаря є й цікаві факти, відомі далеко не всім. </div>
                <div class="review-item__user">
                    <div class="review-item__user-name">Тарас Шевченко</div>
                    <div class="review-item__user-data">24 листопада 2022</div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illum quaerat earum. Iure ipsum repellat architecto facere deserunt itaque eligendi molestias aut esse, fuga nobis impedit corporis doloremque voluptatibus debitis eius natus rerum.</div>
                <div class="review-item__user">
                    <div class="review-item__user-name">Олена Науменко</div>
                    <div class="review-item__user-data">21 листопада 2022</div>
                </div>
            </div>
        </div>
        <div class="slider-review__nav"></div>
    </div>
</section>