<section class="steps">
    <div class="container">
        <div class="template-title">
            <h2>3 простих кроки почати</h2>
            <h4>Не знаеш з чого почати? Слідуй цим простим крокам для швидкого старту</h4>
        </div>
        <div class="steps-grid">
            <div class="step">
                <div class="step-overhead">крок 1</div>
                <h2 class="step-title">реєстрація</h2>
                <div class="step-description">зареєструйся, щоб отримати можливість приєднатися до бонусної системи та отримати додаткові можливості</div>
            </div>
            <div class="step">
                <div class="step-overhead">крок 2</div>
                <h2 class="step-title">верифікація</h2>
                <div class="step-description">пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют</div>
            </div>
            <div class="step">
                <div class="step-overhead">крок 3</div>
                <h2 class="step-title">торгівля</h2>
                <div class="step-description">користуйтеся найвигіднішим курсом для обміну валют</div>
            </div>
        </div>
    </div>
</section>
