<table class="course-table cross">
    <thead>
        <tr>
            <td class="head-currency">валюта</td>
            <td class="head-buying">купівля</td>
            <td class="head-sale">продаж</td>
        </tr>
    </thead>
    <tbody>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <img src="assets/img/icon-eur.svg" alt="eur">
                    <b>EUR</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">39.5000</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">40.6000</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-eur.svg" alt="eur">
                    <b>EUR</b>
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="bottom">48.0000</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="bottom">49.8500</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-dogecoin.svg" alt="dogecoin">
                    <b>DOGE</b>
                    <img src="assets/img/icon-ripple.svg" alt="ripple">
                    <b>RIPPLE</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">9.0500</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">9.2500</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-ripple.svg" alt="ripple">
                    <b>RIPPLE</b>
                    <img src="assets/img/icon-dogecoin.svg" alt="dogecoin">
                    <b>DOGE</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="bottom">0.0970</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="bottom">0.1090</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-dash.svg" alt="dash">
                    <b>DASH</b>
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">42.5500</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">44.2500</b>
                </div>
            </td>
        </tr>

        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <img src="assets/img/icon-eur.svg" alt="eur">
                    <b>EUR</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">39.5000</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">40.6000</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-eur.svg" alt="eur">
                    <b>EUR</b>
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="bottom">48.0000</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="bottom">49.8500</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-dogecoin.svg" alt="dogecoin">
                    <b>DOGE</b>
                    <img src="assets/img/icon-ripple.svg" alt="ripple">
                    <b>RIPPLE</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">9.0500</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">9.2500</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-ripple.svg" alt="ripple">
                    <b>RIPPLE</b>
                    <img src="assets/img/icon-dogecoin.svg" alt="dogecoin">
                    <b>DOGE</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="bottom">0.0970</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="bottom">0.1090</b>
                </div>
            </td>
        </tr>
        <tr class="currency">
            <td>
                <div class="currency-name">
                    <img src="assets/img/icon-dash.svg" alt="dash">
                    <b>DASH</b>
                    <img src="assets/img/icon-usd.svg" alt="usd">
                    <b>USD</b>
                    <div class="attention">
                        <i>!</i>
                        <div class="attention-text">
                            можливе обмеження по сумі операції
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="currency-buying">
                    <b class="top">42.5500</b>
                </div>
            </td>
            <td>
                <div class="currencies-sale">
                    <b class="top">44.2500</b>
                </div>
            </td>
        </tr>


 
    </tbody>
</table>