<section class="exchange">
    <div class="container">
        <h1 class="exchange-title">найвигідніший обмін валют разом з <strong class="accent">KANTOR HOUSE</strong></h1>
        <div class="tabs">
            <div class="tabs-nav">
                <div class="btn btn-primaty tab-button active">роздріб</div>
                <div class="btn btn-primaty tab-button">опт</div>
                <div class="btn btn-primaty tab-button">крос-курси</div>
            </div>
            <div class="course-update">курс оновлений 25.01.2023 о 14:19</div>
            <div class="content-box">
                <div class="tab-content active">
                    @@include('table.html')
                </div>
                <div class="tab-content">
                  @@include('table.html')
                </div>
                <div class="tab-content">
                    @@include('table-cross.html')
                </div>

            </div>
        </div>

    </div>
</section>
 