<section class="transfers-grid">
    <div class="transfer">
        <div class="transfer-text">
            <h2 class="transfer-title">перекази по Україні</h2>
            <h5 class="transfer-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови для переказу коштів</h5>
            <a href="services-1.html" class="transfer-link">дізнатися більше</a>
        </div>
        <picture>
            <source media="(min-width:767px)" srcset="assets/img/transfer-1.png">
            <img src="assets/img/transfer-1-mob.png" class="img-fluid" alt="transfer">
        </picture>
    </div>
    <div class="transfer">
        <div class="transfer-text">
            <h2 class="transfer-title">міжнародні перекази</h2>
            <h5 class="transfer-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови для міжнародного переказу коштів</h5>
            <a href="services-2.html" class="transfer-link">дізнатися більше</a>
        </div>
        <picture>
            <source media="(min-width:767px)" srcset="assets/img/transfer-2.png">
            <img src="assets/img/transfer-2-mob.png" class="img-fluid" alt="transfer">
        </picture>
    </div>
    <div class="transfer">
        <div class="transfer-text">
            <h2 class="transfer-title">swift перекази</h2>
            <h5 class="transfer-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови для SWIFT/SEPA $/Є переказів</h5>
            <a href="services-3.html" class="transfer-link">дізнатися більше</a>
        </div>
        <picture>
            <source media="(min-width:767px)" srcset="assets/img/transfer-3.png">
            <img src="assets/img/transfer-3-mob.png" class="img-fluid" alt="transfer">
        </picture>
    </div>
    <div class="transfer">
        <div class="transfer-text">
            <h2 class="transfer-title">обмін криптовалют</h2>
            <h5 class="transfer-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови для обміну криптовалют</h5>
            <a href="services-4.html" class="transfer-link">дізнатися більше</a>
        </div>
        <picture>
            <source media="(min-width:767px)" srcset="assets/img/transfer-4.png">
            <img src="assets/img/transfer-4-mob.png" class="img-fluid" alt="transfer">
        </picture>
    </div>
    <div class="transfer">
        <div class="transfer-text">
            <h2 class="transfer-title">перекази юаня у Китай</h2>
            <h5 class="transfer-subtitle">проводячи угоду з KANTOR HOUSE, ви отримуєте найвигідніші умови для оплати рахунків у Китай</h5>
            <a href="5" class="transfer-link">дізнатися більше</a>
        </div>
        <picture>
            <source media="(min-width:767px)" srcset="assets/img/transfer-5.png">
            <img src="assets/img/transfer-5-mob.png" class="img-fluid" alt="transfer">
        </picture>
    </div>
</section>
